<!DOCTYPE html>
<html ng-app="umi">
	<head>
		<meta charset="utf-8">
		<title>Umi</title>

		
		<!-- Mobile viewport optimized -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<!-- Bootstrap CSS -->
		<link href="css/vendor/bootstrap.min.css" rel="stylesheet">
		<link href="css/vendor/bootstrap-glyphicons.css" rel="stylesheet">
		<!-- Vendor CSS-->
		<link rel="stylesheet" type="text/css" href="css/vendor/ngDialog.min.css">
		<link rel="stylesheet" type="text/css" href="css/vendor/rzslider.min.css">
		<!-- Custom CSS -->
		<link href="css/main.css" rel="stylesheet">
		
		
	</head>

	<body>
	    <div class="wrapper ng-cloak">
			<nav-bar></nav-bar>
			<div ng-view autoscroll=true></div>
			<footer>
				
			</footer>
		</div>
		

		<!--  Vendors-->
		<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
		<%= javascript_include_tag 'vendor/angular.min' %>
		<%= javascript_include_tag 'vendor/angular-route.min' %>
		<%= javascript_include_tag 'vendor/bootstrap.min' %>
		<%= javascript_include_tag 'vendor/rzslider.min' %>

		<!-- Modules -->
		<%= javascript_include_tag 'app' %>

		<!-- Controllers -->
		<%= javascript_include_tag 'controllers/MainController' %>
		<%= javascript_include_tag 'controllers/ItemController' %>
		<%= javascript_include_tag 'controllers/navBarController' %>
		<!-- Directives -->
		<%= javascript_include_tag 'directives/navBar' %>
		<%= javascript_include_tag 'directives/itemFilter' %>
		<!-- Services -->
		<%= javascript_include_tag 'services/items' %>
		<%= javascript_include_tag 'services/httpService' %>
	</body>
</html>